{% extends 'users/base.html' %}
 
{% block title %}
Maintainence
{% endblock %}
 
{% block content %}
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a2/IIT_Gandhinagar_Logo.svg/1200px-IIT_Gandhinagar_Logo.svg.png" alt="Your Image Description" style="width:60px; height:60px; margin-right: 10px;">
          <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary" style="color: black; transition: color 0.3s ease-in-out;" onmouseover="this.style.color='#007bff'" onmouseout="this.style.color='black'">Home</a></li>
        <li><a href="/domains" class="nav-link px-2" style="color: black; transition: color 0.3s ease-in-out;" onmouseover="this.style.color='#007bff'" onmouseout="this.style.color='black'">Domain</a></li>
        <li><a href="/users" class="nav-link px-2" style="color: grey; transition: color 0.3s ease-in-out;" onmouseover="this.style.color='#007bff'" onmouseout="this.style.color='grey'">User</a></li>
        <li><a href="/requests" class="nav-link px-2" style="color: black; transition: color 0.3s ease-in-out;" onmouseover="this.style.color='#007bff'" onmouseout="this.style.color='black'">Request</a></li>
        <li><a href="/locations" class="nav-link px-2" style="color: black; transition: color 0.3s ease-in-out;" onmouseover="this.style.color='#007bff'" onmouseout="this.style.color='black'">Location</a></li>
        <li><a href="/workers" class="nav-link px-2" style="color: black; transition: color 0.3s ease-in-out;" onmouseover="this.style.color='#007bff'" onmouseout="this.style.color='black'">Worker</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <button type="button" class="btn" style="background-color: black; color: white;"><a href="/logout" style="text-decoration: none; color: white !important;">Logout</a></button>
      </div>
           
    </header>
  </div>

<h1 class="text-center my-5">Users List</h1>
<div class="container d-flex justify-content-center align-items-center mb-3">
    <a class="btn btn-outline-info me-3" href="{{ url_for('users.add_users') }}">Add Users</a>
    <form class="d-flex" method="GET" action="{{ url_for('users.home') }}">
      <select class="form-select me-3" name="user_type">
          <option value="" {% if not user_filter %}selected{% endif %}>All</option>
          <option value="user" {% if user_filter == 'user' %}selected{% endif %}>User</option>
          <option value="admin" {% if user_filter == 'admin' %}selected{% endif %}>Admin</option>
      </select>        
      <button class="btn btn-primary" type="submit">Filter</button>
  </form>
</div>
<div class="container">
    {% if message %}
    <script>
        alert("{{ message }}");
    </script>
    {% endif %}
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">User Type</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        {% if not details %}
        <div class="text-center">
            <h3 class="my-5">No Records to Display!</h3>
        </div>
        {% else %}
        <tbody>
        {% for data in details %}
        <tr>
            <th scope="row">{{ data.user_id }}</th>
            <td>{{ data.first_name }}</td>
            <td>{{ data.last_name }}</td>
            <td>{{ data.email_id }}</td>
            <td>{{ data.mobile_number }}</td>
            <td>{{ data.type }}</td>
            <td>
                <!-- Buttons for actions -->
                <a href="{{ url_for('users.update_user', user_id=data.user_id) }}" class="btn btn-primary btn-sm">Update</a>
                <form method="post" action="{{ url_for('users.delete_user', user_id=data.user_id) }}"  style="display:inline;">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        {% endif %}
    </table>
</div>
{% endblock %}
