{% extends 'users/base.html' %}
 
{% block title %}
Add Users
{% endblock %}
 
{% block content %}
<h1 class="text-center my-5">Add User</h1>
<div class="container">
  {% if message %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
  {% endif %}
  <a href="{{ url_for('users.home') }}" class="btn mb-3 btn-outline-info">Go Back</a>
  <form action="/users/add" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="mb-3">
      <label for="first_name" class="form-label">First Name</label>
      <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name" required maxlength="20">
    </div>
    <div class="mb-3">
      <label for="last_name" class="form-label">Last Name</label>
      <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name" required maxlength="20">
    </div>
    <div class="mb-3">
      <label for="email_id" class="form-label">Email Address</label>
      <input type="email" class="form-control" name="email_id" id="email_id" placeholder="Email Id" required maxlength="255">
    </div>
    <div class="mb-3">
      <label for="mobile_number" class="form-label">Mobile Number</label>
      <input type="tel" class="form-control" name="mobile_number" id="mobile_number" placeholder="Mobile Number" required pattern="[0-9]{10}">
      <small class="text-muted">Enter 10 digits only.</small>
    </div>
    <div class="mb-3">
      <label for="type" class="form-label">User Type</label>
      <select class="form-select" name="type" id="type" required>
        <option value="">Select User Type</option>
        <option value="user">User</option>
        <option value="admin">Admin</option>
      </select>
    </div>  
    <button type="submit" class="btn mt-3 btn-outline-success">Add User</button>
  </form>
</div>
{% endblock %}
