{% extends 'base.html' %}

{% block title %}
Rename Table
{% endblock %}

{% block content %}
<h1 class="text-center my-5">Rename Table</h1>
<div class="container">
    {% if message %}
    <script>
        alert("{{ message }}");
    </script>
    {% endif %}
    <a href="{{ url_for('home') }}" class="btn mb-3 btn-outline-info">Go to Home</a>
    <form action="{{ url_for('rename_table') }}" method="POST">
        <div class="mb-3">
            <label for="first_name" class="form-label">Current Table Name</label>
            <input type="text" class="form-control" name="table_name" id="table_name" placeholder="Current Table Name" value="{{ table_name }}">
        </div>
        <div class="mb-3">
            <label for="mobile_number" class="form-label">New Table Name</label>
            <input type="text" class="form-control" name="new_table_name" id="new_table_name" placeholder="New Table Name" value="" required>
        </div>
        <button type="submit" class="btn mt-3 btn-outline-success">Rename Table</button>
    </form>
</div>
{% endblock %}
