{% extends 'workers/base.html' %}
 
{% block title %}
Add Workers
{% endblock %}
 
{% block content %}
<h1 class="text-center my-5">Add Worker</h1>
<div class="container">
  {% if message %}
    <script>
        alert("{{ message }}");
    </script>
    {% endif %}
  <a href="{{ url_for('workers.home') }}" class="btn mb-3 btn-outline-info">Go Back</a>
  <form action="/workers/add" method="POST">
<div class="mb-3">
  <label for="title" class="form-label">First Name</label>
  <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name" required>
</div>
<div class="mb-3">
  <label for="title" class="form-label">Middle Name</label>
  <input type="text" class="form-control" name="middle_name" id="middle_name" placeholder="Middle Name">
</div>
<div class="mb-3">
  <label for="title" class="form-label">Last Name</label>
  <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name">
</div>
<div class="mb-3">
  <label for="title" class="form-label">Domain Id</label>
  <div class="dropdown">
    <button style= "background-color: white; color: grey; border: 1px solid #ced4da;" class="btn btn-secondary dropdown-toggle" type="button" name="domain_id" id="domain_id" data-bs-toggle="dropdown" aria-expanded="false" required>
      Select Domain ID
    </button>
    <ul style= "background-color: grey; color: white; border: 1px solid #ced4da;" class="dropdown-menu dropdown-menu-dark">
      <li><a class="dropdown-item active" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>
</div>
<div class="mb-3">
  <label for="title" class="form-label">Availability</label>
  <input type="text" class="form-control" name="availability" id="availability" placeholder="Availability" required>
</div>
<div class="mb-3">
  <label for="title" class="form-label">Mobile Number</label>
  <input type="text" class="form-control" name="mobile_number" id="mobile_number" placeholder="Mobile Number" required>
</div>
  <button type="submit" class="btn mt-3 btn-outline-success">Add Worker</button>
  </form>
  </div>
{% endblock %}