{% extends 'home/base.html' %}
 
{% block title %}
Sign Up Page
{% endblock %}
 
{% block content %}
<h1 class="text-center my-5">Sign Up Page</h1>
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}
  <form method="POST" action="{{url_for('auth.signup_post')}}">
    <div class="mb-3">
        <label for="first_name" class="form-label">First Name</label>
        <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name" required maxlength="20">
    </div>
    <div class="mb-3">
        <label for="last_name" class="form-label">Last Name</label>
        <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name" required maxlength="20">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="Email" value="{{email_id}}" readonly>
    </div>   
    <div class="mb-3">
        <label for="mobile_number" class="form-label">Mobile Number</label>
        <input type="text" class="form-control" name="mobile_number" id="mobile_number" placeholder="Mobile Number" required maxlength="10" minlength="10" pattern="[0-9]{10}">
        <small class="text-muted">Enter 10 digits only.</small>
    </div>    
    <button type="submit" class="btn mt-3 btn-outline-success">Sign Up!</button>
  </form>
</div>

{% endblock %}
